extends layout

block extraStyles
    link(rel="stylesheet", href="/login.css")

block content

    form#login-form(action="/login", method="GET")
        span.pane-title Log in to access the dashboard
        .form-group
            label(for="username") Username
            input#username.form-control(name="username" placeholder="Enter username" required)
        .form-group
            label(for="password") Password
            input#password.form-control(name="password" placeholder="Enter password" type="password" required)
        button.btn.btn-primary(type="submit") Log in
