extends layout

block content

    div
        h1 Mi dispiace ma devi fare il login :/
        form(action="/login", method="GET")
            input(name="username" placeholder="Enter username")
            input(name="password" placeholder="Enter password" type="password")
            button(type="submit") Log in