:root{
    --accent: #F77367;
    --light-gray: #DFDFDF;
}


body{
    font-family: "Lato", sans-serif;
    margin: 0px;
}

.shadowed{
    box-shadow: 0px 0px 8px var(--light-gray);
}

.pane-title{
    font-weight: bold;
    font-size: x-large;
}