#header{
    display: grid;
    grid-template-areas: "logo userinfo";
    grid-template-columns: 1fr auto;
    grid-column-gap: 12px;
    padding: 12px;
}

#header > #logo{
    grid-area: logo;
    font-weight: bold;
    align-self: center;
    font-size: 18pt;
}

#header > #userinfo{
    display: inline-flex;
    flex-direction: row;
    grid-area: userinfo;
    align-items: center;
}

#logout-btn{
    border-radius: 50%;
    background-color: var(--accent);
    width: 12px;
    height: 12px;
    margin-left: 12px;
}