#app{
    display: grid;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    grid-template-areas: "header" "main" "statusbar";
    grid-template-rows: 48pt 1fr 24pt;
    grid-template-columns: 1fr;
}

#header{
    grid-area: header;
}

#main-container{
    display: grid;
    grid-template-areas: "temp light users-list";
    grid-template-columns: 1fr 1fr;
    height: 100%;
    max-height: 100%;
    overflow: auto;
}

#status-bar{
    grid-area: statusbar;
}

#users-list{
    grid-area: users-list;
}

#chart-temp{
    grid-area: temp;
}

#chart-light{
    grid-area: light;
}