#app{
    display: grid;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    grid-template-areas: "header" "main" "statusbar";
    grid-template-rows: 48pt 1fr 24pt;
    grid-template-columns: 1fr;
    overflow: hidden;
}

#header{
    grid-area: header;
}

#main-container{
    display: grid;
    grid-template-columns: 1fr 1fr [last-col] auto ;
    grid-template-rows: [table-row] auto repeat(var(--charts), auto) auto;
    margin-bottom: 8px;
    overflow: auto;
}

#status-bar{
    grid-area: statusbar;
}

#users-list{
    grid-area: last-col;
    grid-row: 1 / -1;
}

.chart-pane{
}

#data-table{
    grid-row: 1 / 2;
    grid-column: 1 / 3;

}
